@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('/images/inventory.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 150px;
}

.login-box {
  background-color: #fffcfc; /* dark background */
  padding: 40px 60px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header h1 {
  color: #151414; /* light red */
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.login-header p {
  font-size: 14px;
  color: #555353; /* white */
  margin-bottom: 20px;
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #090808; /* white */
}

input[type="text"],
input[type="password"] {
  padding: 10px 12px;
  margin-bottom: 18px;
  border: 1px solid #2f2e2e;
  border-radius: 10px;
  font-size: 15px;
  background: #ffffff;
  color: #000000;
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #145c2a; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4efc6e; 
  color: white;
}
.login-footer {
  margin-top: 20px;
}

.login-footer img {
  width: 80px;
  height: auto;
  opacity: 0.9;
}